<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!--this will be the header for the login i made this seperate since
the user should only get the bar on the top with a link to logout
if they are logged in -->   
