<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=title %> <%= username%></h1>
    <p><a href="/logout">Logout</a>
    
  </body>
</html>
