<!--this page will render any given module such as cs 326 cs 250 ect
this means this file should also display all modules associated with
that class or whatever the users planner is-->
<!DOCTYPE html>
<html>
  <head>
    <title><%=planner %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=planner %></h1>
    <a href="/users/home">Back to Home</a><br>
    <a href="/logout">Logout</a>
  </body>
</html>

