<!--this page will render any given module such as cs 326 cs 250 ect
this means this file should also display all modules associated with
that class or whatever the users planner is-->
<!DOCTYPE html>
<html>
  <head>
    <title><%=planner %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=planner %></h1>
    <% for(var i = 0; i < listOfModules.length; i++) { %>
    <h1> <%=listOfModules[i].module %> </h1>
	<%if(listOfModules[i].module === 'Notes'){ %>
            <form action="/users/currentHomeModule" id="Notes">
	      <input type="hidden" name="notesEdit" value="true">
              <input type="submit" value="Edit">
            </form><br><br>
	    <% if(editNotes === "true"){%>
	      <form action="/users/editPageModule" id="Notes">
	        <input type="hidden" name="Module" value="Notes">
	        <input type="hidden" name="notesEdit" value="false">
		<input type="text" name="comment" style="text-align: center;
			width:200px; height:200px;">
	        <input type="submit" value="Finish Editing">
  	      </form><br><br>
            <%}%>
	<%}%>
    <% } %>	
    <h1>Add a Module </h1>
  <select name="Module" form="Module">
    <option value="Notes">Notes</option>
    <option value="Budget">Budget</option>
    <option value="Upcoming Events">Upcoming Events</option>
    <option value="Useful Link">Useful Link</option>
  </select><br><br>
  <form action="/users/addPageModule" id="Module">
     <input type="submit">
  </form><br><br>

    <a href="/users/home">Back to Home</a><br>
    <a href="/logout">Logout</a>
  </body>
</html>

