<!--this page will render any given module such as cs 326 cs 250 ect
this means this file should also display all modules associated with
that class or whatever the users planner is-->
<!DOCTYPE html>
<html>
  <head>
    <title><%=planner %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=planner %></h1>
    <% for(var i = 0; i < listOfModules.length; i++) { %>
    <li> listOfModules[i] </li>	
    <% } %>	
    <h1>Drop Down Button </h1>
  <form>
  <select id="Module">
    <option value="Notes">Notes</option>
    <option value="Budget">Budget</option>
    <option value="Upcoming Events">Upcoming Events</option>
    <option value="Useful Link">Useful Link</option>
  </select>
  </form>

  <form action="/users/addPageModule">
  <input type="hidden" name='module' value = document.getElementBy("Module").value>
  <input type="submit" value = "Add">
  </form>


    <a href="/users/home">Back to Home</a><br>
    <a href="/logout">Logout</a>
  </body>
</html>

